{% extends "mylist/index.html" %}
{% load static %}
{% block content %}
  <h1 class="my-media-header">My Media List</h1>

  <div class="filter-container">
    <i class="fa-solid fa-filter filter-icon"></i>
    <form method="GET" action="{% url 'mylist-personallist' %}" class="genre-filter-form">
      <input type="text" name="genre" placeholder="Enter genre" value="{{ genre_filter }}">
      <button type="submit" class="filter-button">Filter</button>
      {% if genre_filter %}
        <a href="{% url 'mylist-personallist' %}" class="exit-filter">Exit Filter</a>
      {% endif %}
    </form>
  </div>

  <div class="queue-list">
    <div class="queue-title">
      <h3>On Queue</h3>
    </div>
    {% if media_list %}
      <div id="media-list" class="media-scroller snaps-inline">
        {% for media in media_list %}
          <div id="media-item" class="media-element">
            <img id="media-poster" src="{{ media.poster }}" alt="poster" class="poster">
            <div class="overlay">
              <h1 class="card-title">{{ media.title }}</h1>
              <p class="card-sub-title">{{ media.year }} <br> {{ media.genre }}</p>
              <div class="lists-buttons">
                <a href="{% url 'mylist-completed-media' media.id %}"><button id="media-btn" class="comp-btn"><i class="fa-solid fa-check"></i></button></a>
                <a href="{% url 'mylist-not-completed-media' media.id %}"><button id="media-btn" class="notcomp-btn"><i class="fa-solid fa-clock-rotate-left"></i></button></a>
                <a href="{% url 'mylist-remove-media' media.id %}"><button id="media-btn" class="remove-btn"><i class="fa-solid fa-xmark"></i></button></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="empty-lists">Queue list is empty.</p>
    {% endif %}
  </div> 

  <div id="completed-col">
    <h3>Completed</h3>
    <div class="completed-list">
      {% if completed_list %}
        <div id="completed-list" class="media-scroller snaps-inline">
          {% for media in completed_list %}
            <div id="media-item" class="media-element">
              <img src="{{ media.comp_poster }}" alt="poster" class="poster">
              <div class="overlay">
                <h1 class="card-title">{{ media.comp_title }}</h1>
                <p class="card-sub-title">{{ media.comp_year }} <br> {{ media.comp_genre }}</p>
                <div class="lists-buttons">
                  <a href="{% url 'mylist-remove-completed' media.id %}"><button id="media-btn" class="remove-btn"><i class="fa-solid fa-xmark"></i></button></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="empty-lists">Completed list is empty.</p>
      {% endif %}
    </div>
  </div>

  <div id="not-completed-col">
    <h3>Not Completed</h3>
    <div class="not-completed-list">
      {% if not_completed_list %}
        <div id="not-completed-list" class="media-scroller snaps-inline">
          {% for media in not_completed_list %}
            <div id="media-item" class="media-element">
              <img src="{{ media.notcomp_poster }}" alt="poster" class="poster">
              <div class="overlay">
                <a href="{% url 'mylist-priority-media' media.id %}"><button id="media-btn" class="star-btn"><i class="fa-regular fa-star"></i></button></a>
                <h1 class="card-title">{{ media.notcomp_title }}</h1>
                <p class="card-sub-title">{{ media.notcomp_year }} <br> {{ media.notcomp_genre }}</p>
                <div class="lists-buttons">
                  <a href="{% url 'mylist-not-completed-to-completed' media.id %}"><button id="media-btn" class="comp-btn"><i class="fa-solid fa-check"></i></button></a>
                  <a href="{% url 'mylist-remove-not-completed' media.id %}"><button id="media-btn" class="remove-btn"><i class="fa-solid fa-xmark"></i></button></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="empty-lists">Not Completed list is empty.</p>
      {% endif %}
    </div>
  </div>

  <script src="{% static 'mylist/main.js'%}"></script>
  <script src="{% static 'mylist/config.js'%}"></script>
{% endblock %}
